/*Setting font API*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,800;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', 'Helvetica', sans-serif;
}


body{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-size: cover;
	/* -webkit-filter: blur(5px); */
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.jumbotron  {
	color: #fff;

    background-size: cover;
    height: 770px;
    margin:0;
    padding:0;
    text-align: center;
    /*margin-top: -130px;*/
    
}
.jumbotron .logo{
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.jumbotron img {
    width: 150px;
    padding: 25px;
}
.jumbotron .btn {
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 10px 20px;

}
.jumbotron .btn:hover{
   font-weight: 700;
}
/*----------------------------------------------------------
[ restyle ]*/
.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-login100 {
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	/* z-index: -1;   */
  }

.logo {
	width: 130px;
	margin: 0 auto;
}

.logo img.compact {
	margin: 0 auto;
	height: 120px;
	width: auto;
	display: block;
}

.wrap-login100 {
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
	padding: 55px 55px 37px 55px;
  
	background: #fff
  }

  .login100-form-title {
	margin: 20px auto;
  	font-family: inherit;
	font-weight: bold;
  	font-size: 30px;
  	color: #666666;
  	line-height: 1.2;
  	text-align: center;
  	display: block;
}

.txt1 {
	font-size: 13px;
	color: #666666;
	line-height: 1.5;
	margin-top: 20px;
  }

.cek-layanan {
	padding-top: 5vh;
	font-size: 16px;
	font-weight: 400;
}

.cek-layanan a {
	font-weight: 700;
	color: #ffce3c;
}

.statistik-layanan{
	padding: 30px;
	text-align: center;
}

.grafik-container{
	max-width: 800px;
	margin: 50px auto;
	display: flex;
	justify-content:center;
}

.grafik-item{
	flex: 1;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

.statistik{
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.statistik-item{
  margin: 20px auto;
}


/* Scroll Icon */

.container-scroll {
	width: 24px;
	margin: 50px auto;
	height: 24px;
  }
  
  .chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
	animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
  }
  
  .chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
	25% {
	  opacity: 1;
  
	}
	33% {
	  opacity: 1;
	  transform: translateY(30px);
	}
	67% {
	  opacity: 1;
	  transform: translateY(40px);
	}
	100% {
	  opacity: 0;
	  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
  }
  
  .text {
	display: block;
	margin: 40px auto 0;
	font-family: inherit;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	/* text-transform: uppercase; */
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
	to {
	  opacity: 1;
	}
  }  
/* Akhir Scroll Icon */

#hasilCekProgress table td {
	font-weight: 400;
}

/* Footer Home */
.footer-home{
	display: flex;
	font-weight: 400;
	font-size: 14px;
	background: rgba(13, 110, 255, 1);
	padding: 10px;
	color: #fff;
	justify-content: flex-start;
}

.footer-home a {
	color: inherit;
}

.footer-home-left{
	margin:7px auto 7px 50px;
}
.footer-home-left p{
	margin-bottom: 0;
}

.footer-home-right{
	display: flex;
	flex-direction: row;
	margin:7px 50px 7px auto;
}

.footer-home-right-item{
	margin: 0 10px;
}
/* Footer Login */
.footer {
	color:#fff;
}

/*Media Query - Mobile*/
@media screen and (max-width:768px){
	.jumbotron h1{
		font-size: 10vw;
	}
	.lead{
		font-size:5vw;
	}
	.logo{
		margin-bottom: 10px;
	}
	.grafik-container{
		flex-direction: column;
	}
	.grafik-item{
		margin-bottom: 20px;
	}
	.container-scroll{
		margin: 20px auto;
	}
	.footer-home{
		text-align: center;
		flex-direction: column;
	}
	.footer-home-left{
		margin:7px auto;
		order: 2;
	}
	
	.footer-home-right{
		margin: 10px auto;
		order: 1;
	}

}
